/* Styles for _ROOT
----------------------------------------------------------*/

body
{
    background: url("img/backgrounds/body.jpg") left top repeat;
}

#main
{
    background: url(img/backgrounds/body.bg.png) repeat-y center top;
}

#header-bar-root
{
    width: 966px;
    margin: auto; /*padding-right: 36px;*/
}

#header-bar-root > ul
{
    margin-right: 0px;
}


#logo-root
{
    float: left;
    width: 280px;
    height: 100px;
    padding-left: 30px;
}

#input-search-root
{
    float: left;
}

footer
{
    position: relative;
    padding-top: 0px;
    margin: 0px; /*background: #484848;*/
}

#footer-info-root
{
    width: 946px;
    margin: auto;
    padding: 20px 30px;
    text-align: left;
    font-size: 10pt;
    background: #138CBF;
    height: 80px;
    border-top: 3px solid #CCC;
}
#footer-info-root a
{
    color: #fff;
    margin-right: 10px;
}



/*Styles for Result page*/
.first-result
{
    padding: 20px;
}

.synset
{
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
}

.synset-item:after
{
    content: ",";
}


.exa
{
    display: block;
    color: #666;
    font-style: italic;
    margin-left: 10px;
}

.first-result h1
{
    margin: 0px;
    color: #2C83EF;
    font-size: 24px;
    float: left;
    line-height: 28px;
    padding-left: 0px;
}

.like
{
    float: left;
    margin-left: 20px;
    background: url('img/icons/Thumb-up-icon-24.png') left center no-repeat transparent;
    font-size: 10pt;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.count-like
{
    float: left;
    margin-left: 7px;
    height: 22px;
    border: 1px solid #ccc;
    color: #777;
    font-size: 11px;
    text-align: center;
    line-height: 22px;
    position: relative;
    padding: 0 7px;
    min-width: 20px;
}
.count-like:before
{
    content: '';
    position: absolute;
    top: 3px;
    left: -6px;
    border-width: 6px 6px 6px 0;
    border-style: solid;
    margin-top: 2px;
    border-color: transparent #666;
}
.count-like:after
{
    content: '';
    position: absolute;
    top: 6px;
    left: -5px;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    border-color: transparent #fafafa;
}
.description-result
{
    padding: 0px 20px;
    position: relative;
    margin-bottom: 10px;
}

.description-text
{
    font-size: 11pt;
    font-weight: bold;
    line-height: 20px;
    margin: 0px 5px 0px 20px;
}

.description-result .suggest-term
{
    margin-right: 4px;
}

.description-result p
{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 13px;
}
.description-result a
{
    font-weight: normal;
    font-style: normal;
}
[class*="ic-"]
{
    display: inline-block;
    padding: 1px 0px 0px;
    margin-right: 5px;
    margin-left: 0px;
    line-height: 22px;
    width: 16px;
    height: 16px;
}

.ic-arrow-right
{
    position: absolute;
    left: 20px;
    background: url('img/icons/1366191312_control_play.png') center bottom no-repeat transparent;
}

.ic-right
{
    position: absolute;
    top: 1px;
    left: 20px;
    background: url('img/icons/bs/ic_right.png') center center no-repeat transparent;
}
.ic-chat
{
    position: absolute;
    top: 1px;
    left: 20px;
    background: url('img/icons/bs/ic_chat.png') center center no-repeat transparent;
}
.ic-cloud
{
    position: absolute;
    top: 1px;
    left: 20px;
    background: url('img/icons/bs/ic_cloud.png') center center no-repeat transparent;
}
.comments
{
    margin: 0 20px;
}
.comments-head
{
    background: url("img/backgrounds/box-head.jpg") left top repeat-x;
    background-clip: padding-box;
    border: 1px solid #2C83EF;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -o-border-top-left-radius: 3px;
    -o-border-top-right-radius: 3px;
    -ms-border-top-left-radius: 3px;
    -ms-border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.comments-list
{
}
.itemOut
{
    margin-top: 10px;
    margin-bottom: 15px;
}

.itemOut .image
{
    float: left;
    margin: 3px 3px 3px 0px;
}
.itemOut .text
{
    padding: 7px 8px;
    border: 1px solid #d5d5d5;
    background-color: #FFF;
    margin: 3px;
    font-size: 11px;
    color: #333;
    line-height: 17px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    float: left;
    width: 502px;
}

.itemOut .info
{
    margin-bottom: 3px;
}
.itemOut .info .name
{
    float: left;
    color: #005580;
    font-weight: bold;
}

.itemOut .info .date
{
    font-size: 11px;
    color: #9b9b9b;
    float: right;
}

.img-polaroid
{
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
img
{
    width: auto 9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/*Recent keyword*/
.recent-words
{
    padding: 10px 15px;
}

.recent-words ul
{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding-left: 15px;
}
.recent-words ul li a
{
    font-size: 13px;
    font-weight: bold;
    color: #2C83EF;
}
/*--------------------------------*/
/**/

.block
{
    margin-bottom: 10px !important;
}

.block-sumary
{
    border: 1px solid #CCC;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.sumary
{
    padding: 12px 18px;
}
.aphab-list a
{
    margin-right: 9px;
    text-decoration: underline;
    color: #f89406;
    font-size:13px;
}
