/*-------------------------------------*/

.cf:before, .cf:after
{
	content: "";
	display: table;
}

.cf:after
{
	clear: both;
}

.cf
{
	zoom: 1;
}

/*-------------------------------------*/
/* Form wrapper styling */
.form-wrapper
{
	width: 650px;
	padding: 15px;
	margin: auto; /*background: #444;     background: rgba(0,0,0,.2);     border-radius: 4px;     box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
}

.form-wrapper-mini
{
	width: 500px;
	padding: 26px 15px 15px;
	margin: auto; /*background: #444;     background: rgba(0,0,0,.2);     border-radius: 4px;     box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
}
/* Form text input */

.form-wrapper input
{
	width: 529px;
	height: 18px;
	padding: 10px 5px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	border: 1;
	border-right: 0;
	background: #eee;
	border-radius: 3px 0 0 3px;
}

.form-wrapper-mini input
{
	width: 379px;
	height: 19px;
	padding: 5px 5px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	border: 1;
	border-right: 0;
	background: #eee;
	border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus
{
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.form-wrapper-mini input:focus
{
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.form-wrapper, .form-wrapper-mini input::-webkit-input-placeholder
{
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.form-wrapper, .form-wrapper-mini input:-moz-placeholder
{
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.form-wrapper, .form-wrapper-mini input:-ms-input-placeholder
{
	color: #999;
	font-weight: normal;
	font-style: italic;
}

/* Form submit button */
.form-wrapper button
{
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 110px;
	font: bold 15px/40px 'lucida sans' , 'trebuchet MS' , 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	/*background: #d83c3c;*/
	background: -webkit-linear-gradient(top, #00B7EA 0%,#009EC3 100%);
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper-mini button
{
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 31px;
	width: 110px;
	font: bold 14px/33px 'lucida sans' , 'trebuchet MS' , 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	/*background: #d83c3c;*/
	background: -webkit-linear-gradient(top, #00B7EA 0%,#009EC3 100%);
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
@-moz-document url-prefix() {
   .form-wrapper-mini button
    {
        background-color:  #00AAD6 ;
    }
    .form-wrapper button
	{
		background-color:  #00AAD6 ;
	}
}

.form-wrapper button:hover
{
	background: #00B7EA;
}
.form-wrapper-mini button:hover
{
	background: #00B7EA;
}

.form-wrapper button:active, .form-wrapper button:focus
{
	background: #00B7EA;
	outline: 0;
}

.form-wrapper button:before
{
	/* left arrow */
	content: '';
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	/*border-color: transparent #d83c3c transparent;*/
	border-color: transparent #00AAD6 transparent;
	top: 12px;
	left: -6px;
}

.form-wrapper button:hover:before
{
	border-right-color: #00B7EA;
}

.form-wrapper button:focus:before, .form-wrapper button:active:before
{
	border-right-color: #00B7EA;
}

.form-wrapper button::-moz-focus-inner
{
	/* remove extra button spacing for Mozilla Firefox */
	border: 0;
	padding: 0;
}
