@model TraCuuThuatNgu.ViewModels.AdminIndexViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Quản trị hệ thống";
}
<style type="text/css">
    #Index
    {
        border-color: #143D6B;
        background: url("/Content/img/backgrounds/menu-item-active.jpg") left top repeat-x;
    }
</style>
<div class="row-fluid">
    <div class="span span10 first">
        <div class="head">
            <div class="icm-chats">
            </div>
            <h1>
                Tổng quan hệ thống</h1>
            <div class="clear">
            </div>
        </div>
        <div class="block">
            @*Thuật ngữ: 10000 Bình luận: 200 Hỏi đáp: 1000 Thành viên: 200*@
        </div>
    </div>
    <div class="span span10">
        <div class="head">
            <div class="icm-zoom">
            </div>
            <h1>
                Tra cứu mới nhất</h1>
            <div class="clear">
            </div>
        </div>
        <div class="block">
            <table cellpadding="0" cellspacing="0" width="100%" class="table">
                <thead>
                    <tr>
                        <th width="25%">
                            Từ tra cứu
                        </th>
                        <th width="25%">
                            Có trong dữ liệu
                        </th>
                        <th width="25%">
                            Số lần
                        </th>
                        <th width="25%">
                            Tra lần cuối lúc
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SearchHistoriesTopXLastest)
                    {
                        <tr>
                            <td>
                                @item.Keyword
                            </td>
                            <td>
                                @if (item.IsExist)
                                {
                                    <span class="label label-success">Đã có</span>
                                }
                                else
                                {
                                    <span class="label label-important">Chưa có</span> 
                                }
                            </td>
                            <td>
                                @item.Counter
                            </td>
                            <td>
                                @String.Format("{0:d/M/yyyy HH:mm}", item.DateModify)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="view-more">
                <a href="/ManageSearchHistory" class="btn-link">Xem tất cả</a></div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<div class="dr">
    <span></span>
</div>
<div class="row-fluid">
    <div class="span span10 first">
        <div class="head">
            <div class="icm-chats">
            </div>
            <h1>
                Bình luận gần đây</h1>
            <div class="clear">
            </div>
        </div>
        <div class="block">
            @*sdklfhldshf<br />
            ádasd*@
        </div>
    </div>
    <div class="span span10">
        <div class="head">
            <div class="icm-chats">
            </div>
            <h1>
                Hỏi đáp mới nhất</h1>
            <div class="clear">
            </div>
        </div>
        <div class="block">
            @*sdklfhldshf<br />
            ádasd*@
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<div class="dr">
    <span></span>
</div>
<div class="row-fluid">
    <div class="span span12">
        <div class="head">
            <div class="icm-chats">
            </div>
            <h1>
                Đóng góp mới nhất</h1>
            <div class="clear">
            </div>
        </div>
        <div class="block">
            @*sdklfhldshf<br />
            ádasd*@
        </div>
    </div>
    <div class="clear">
    </div>
</div>
