<div id="loading-popup" class="ui-dialog">
    <div class="logon-wapper">
        <center>
            <img src="@Url.Content("~/Content/img/generated-image.gif")" />
            <p>
                Đang nhập dữ liệu...</p>
        </center>
    </div>
</div>
<div class="ui-widget-overlay">
</div>
