@{
    Layout = "~/Views/Shared/_Root.cshtml";
    ViewBag.Title = "Index";
}
@*section Styles {

<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/autocomplete.js")" type="text/javascript"></script>
   <style type="text/css">
   .highlight { color: #3399FF;font-weight:bold; }
   </style>
}*@
<h2>
    Autocompete</h2>

<input type="text" id="suggest1"/>
<p>kfbdkjghkdf;ghkjfdbv</p>